<div class="row">
  <div class="large-5 columns">
    <h1>albm</h1>
  </div>
  <div class="large-7 columns">
    <ul class="button-group right">
      <li><%= link_to 'Home', root_path, :class => 'button' %></li>
    </ul>
  </div>
</div>