@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Junge);

body {
  font-family: 'Junge', serif;
  background: #FBDE7C;
}

img {
  border: 1px solid black;
}

img.b_index {
  height: 350px;
  width: 250px;
  margin-right: 5px;
}

.index {
  height: 300px;
  width: 300px;
}

img.b_show {
  height: 500px;
  width: 350px;
  float: left;
}

.show {
  height: 500px;
  width: 500px;
}

img.thumbnail {
  height: 100px;
  width: 100px;
}

.ingredients, .ingredient {
  display: inline-block;
}

.ingredient p{
  text-align: center;
}

.recipes > ul {
  /* clear: left;*/
}

nav {
  float: left;
  font-family: 'Racing Sans One', cursive;
}

div#content {
  float: left;
}

nav a {
  text-decoration: none;
  color: #F28729;
}


nav li {
  border: 1px solid black;
  font-size: 30px;
  padding: 5px;
  border-radius: 3px;
  background-color: #701E1D;
}

nav li:hover {
  background-color: #877131;
}

#content {
  margin-left: 20px;
  width: 800px;
}

.show {
  display: block;
  clear: both;
}


.attributes {
  clear: both;
}