<form action='/planets' method='post'>
  <input type='text' name='planet[name]' placeholder='name' autofocus>
  <input type='text' name='planet[image]' placeholder='image'>
  <input type='text' name='planet[orbit]' placeholder='orbit'>
  <input type='text' name='planet[diameter]' placeholder='diameter'>
  <input type='text' name='planet[mass]' placeholder='mass'>
  <input type='text' name='planet[moons]' placeholder='moons'>
  <button>Add</button>
</form>