.row
  .small-5.columns
    #forms
      = render :partial => 'form'
    %h2#timer
  .small-7.columns
.row
  .small-4.columns
    #one
      = render :partial => 'blocks'
  .small-4.columns
    #two
  .small-4.columns
    #three