.row
  .three.columns
    = button_to('Add New', new_genre_path, :method=>:get, :class => 'button radius') if is_admin
    %table
      - @genres.each do |genre|
        %tr
          %td= link_to genre.name, genre
          - if is_admin
            %td= link_to 'Edit', edit_genre_path(genre)
  .nine.columns