%object{:type => "application/x-shockwave-flash", :width => "150", :height => "25", :data => "https://www.youtube-nocookie.com/v/#{filename}?version=2&theme=dark"}
  %param{:name => "movie", :value => "https://www.youtube-nocookie.com/v/#{filename}?version=2&theme=dark"}
  %param{:name => "wmode", :value => "transparent"}