@import 'colors';

#users {
  img {
    height: auto;
    width: 100px;
  }

  td {
    background-color: $cell_color;
    color: white;
  }
}

.lists {
  li {
    list-style-type: none;
    font-size: 16px;
  }
  img {
    width: 100px;
    height: auto;
  }
}

#logo {
  color: #2ba6cb;
}