<form action='<%= oceans_path %>' method='post'>
  <label for='name'>Name</label>
  <input type='text' name='ocean[name]'>
  <label for='image'>Image</label>
  <input type='text' name='ocean[image]'>
  <label for='area'>Area</label>
  <input type='text' name='ocean[area]'>
  <label for='volume'>Volume</label>
  <input type='text' name='ocean[volume]'>
  <label for='max_depth'>Maximum Depth</label>
  <input type='text' name='ocean[max_depth]'>
  <label for='max_width'>Maximum Width</label>
  <input type='text' name='ocean[max_width]'>
  <button>Add</button>
</form>