<section>
  <h1>Begin</h1>
  <ul>
    <li><a href='/start/a'>A</a></li>
    <li><a href='/start/b'>B</a></li>
  </ul>

  <form action='/num' method='get'>
    <input name='num'>
    <button>Go</button>
  </form>
</section>