@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

* {
  font-family: 'Leckerli One', cursive;
}

h1 {
  font-size: 50px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#bar {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.picblock {
  float: left;
  background-size: cover;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
}

.clear {
  clear: both;
}