.row
  .four.columns
    = button_to('Add New', new_artist_path, :method=>:get, :class => 'button radius') if is_admin
    %table
      - @artists.each do |artist|
        %tr
          %td= image_tag artist.image
          %td= link_to artist.name, artist
          - if is_admin
            %td= link_to 'Edit', edit_artist_path(artist)
