.row
  .four.columns
    = button_to('Add New', new_artist_path, :method=>:get, :class => 'button radius') if @auth.present? && @auth.is_admin
    %ul.lists
      - @artists.each do |artist|
        %li
          = artist.name
          - if @auth.present?
            = link_to 'Edit', edit_artist_path(artist) if @auth.is_admin
        %li
          = image_tag artist.image
  .eight.columns