<!DOCTYPE html>
<html>
<head>
  <title>R20130211StockMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><a class='tilt' href='/'>Home</a></li>
      <li><a class='tilt' href='/about'>About</a></li>
      <li><a class='tilt' href='/faq'>FAQ</a></li>
      <li><a class='tilt' href='/stock'>Stocks</a></li>
      <li><a class='tilt' href='/movie'>Movies</a></li>
    </ul>
  </nav>
  <div id='container'>
    <%= yield %>
  </div>
</body>
</html>
