@import url(http://fonts.googleapis.com/css?family=Elsie:400,900);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

body {
  font-family: 'Didact Gothic', sans-serif;
  color: #f2e30e;
  background: #000 url('background.jpg') no-repeat fixed center;
}

nav {
  width: 100%;
  text-align: center;
  background-color: #040b8d;
  height: 46px;
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  z-index: 1;
  opacity: 0.9;
}

nav ul {
  height: 30px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  background-color: #703B35;
  font-size: 20px;
  margin: 5px 20px;
  position: relative;
  top: 10px;
  color: #989a46;
  padding: 5px;
  font-family: 'Elsie', cursive;
  font-weight: bold;
  text-shadow: 0px 2px 3px #000;
  box-shadow: 0px 2px 3px #000;
}

nav a:hover {
  background-color: #989a46;
  color: #703B35;
}

#container {
  width: 1100px;
  margin: 46px auto 0 auto;
  min-height: 600px;
  background: #000;
  opacity: 0.8;
  font-weight: bold;
}

.image {
  float: left;
  margin-right: 20px;
}

section {
  opacity: 1.0;
}

h1 {
  font-size: 100px;
  position: relative;
  left: 200px;
  top: 200px;
}

h2 {
  font-size: 30px;
  position: relative;
  left: 300px;
  top: 200px;
}

header {
  font-size: 40px;
  margin-bottom: 20px;
}

section#about p {
  text-indent: 50px;
  margin-bottom: 20px;
  line-height: 20px;
  opacity: 1.0;
}

#faq p {
  line-height: 20px;
  margin: 10px 0 20px 0
}

ol {
  list-style-type: decimal;
}